{% extends "layout.html" %}
{% block content %}
<div class="card">
    <div class="card-header">
Group Funding
    </div>
    <div class="card-body">
      <h5 class="card-title">About us</h5>
      <p class="card-text">The idea is about connecting people with similar goals,need, financial ability together for ex: we have 5 people each will pay 500$ a month and each one of them will take 2500$on his turn which might be 1st,2nd or 5th month
        or another ex: a rich person might create a group and give each 2500$ and gets back his money monthly from them(kinda like helping so it's interest free too)
        It's interest free 
        Provides safe money keeping as we will verify people identity with their phone number
        And will respond to need of money incase of any bad event
        Accessible to everyone with variety of monthly payments as we accept creating a new group funds with requested monthly payment </p>
      <a href="http://127.0.0.1:5000/contact" class="btn btn-primary">Contact</a>
    </div>
  </div>
{% endblock content %}