{% extends "layout.html" %}
{% block content %}
<h1>Welcome !</h1>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add doctor</h5>
          <a href="http://127.0.0.1:5000/addDoctor" class="btn btn-primary">Add</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View department doctors</h5>
          <a href="http://127.0.0.1:5000/viewDoctors" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add patient</h5>
          <a href="http://127.0.0.1:5000/addPatient" class="btn btn-primary">Add</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View department patients</h5>
          <a href="http://127.0.0.1:5000/viewPatients" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div> 
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body"> 
          <h5 class="card-title">Remove doctor from department</h5>       
          <a href="http://127.0.0.1:5000/removeDoctor" class="btn btn-primary">Remove</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">          
          <h5 class="card-title">Remove patient from department</h5>
          <a href="http://127.0.0.1:5000/removePatient" class="btn btn-primary">Remove</a>
        </div>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">          
          <h5 class="card-title">Schedule patient with doctor</h5>
          <a href="http://127.0.0.1:5000/relate" class="btn btn-primary">Relate</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View department schedules</h5>         
          <a href="http://127.0.0.1:5000/viewRelation" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">         
          <h5 class="card-title">Recover patient</h5>
          <a href="http://127.0.0.1:5000/recoveredPatient" class="btn btn-primary">Recover</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View recovered patients</h5>
          <a href="http://127.0.0.1:5000/viewRecovered" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>    
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Delete recovered patient</h5>
          <a href="http://127.0.0.1:5000/terminate" class="btn btn-primary">Delete</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View contact us inbox</h5>
          <a href="http://127.0.0.1:5000/viewContact" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>  
  <div class="card">
    <div class="card-header">
        The department Statistics
    </div>
    <div class="card-body">
      <a href="http://127.0.0.1:5000/stats" class="btn btn-primary">view</a>
    </div>
  </div>  
  <style>
    a:link, a:visited {
    
      color: #000000;
      padding: 15px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    
   
    </style> 
  <a href="http://127.0.0.1:5000/home">Back</a>  
{% endblock content %}