{% extends "layout.html" %}
{% block content %}
<h1>Welcome !</h1>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Join a group</h5>
          <a href="http://127.0.0.1:5000/addMember" class="btn btn-primary">Add</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View  </h5>
          <a href="http://127.0.0.1:5000/avilablegroups" class="btn btn-primary">View Your Group</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Join20$  </h5>
          <a href="http://127.0.0.1:5000/addMember2" class="btn btn-primary">Join</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View 20$$  </h5>
          <a href="http://127.0.0.1:5000/avilablegroups2" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
 
  <style>
    a:link, a:visited {
    
      color: #000000;
      padding: 15px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    
   
    </style> 
  <a href="http://127.0.0.1:5000/home">Back</a>  
{% endblock content %}